.table_header_news {
    background-color: #e8702a;
    color: #ffffff;
}
.news_center_align {
    text-align: center;
}
.news_custom_width {
    width: 103px;
}
.add_pointer {
    cursor: pointer;
    opacity: 0.5;
}
.news_url_class {
    cursor: pointer;
}

.news_author_class {
    font-weight: bold;
}

.font_size {
    font-size: 11px;
}
.news_hide {
    cursor: pointer;
}

a.canvasjs-chart-credit {
    display: none !important;
}